include /src/assets/pug/includes/_init
block settings
-
    const user_settings = Object.assign({}, settings);
doctype html
html(lang='en')
    head
        -
            const conf = {
                title: '',
                description: '',
                keywords: '',
                type: 'article',
                image: './assets/images/common/ogp.png',
                url: '',
                site_name: ''
            };
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width; initial-scale=1.0')
        title #{conf.title}
        meta(name='description', content=conf.description)
        meta(name='keywords', content=conf.keywords)
        // OGP
        meta(name='og:title', content=conf.title)
        meta(name='og:type', content=conf.type)
        meta(name='og:image', content=conf.image)
        meta(name='og:url', content=conf.url)
        meta(name='og:site_name', content=conf.site_name)
        // Style
        link(rel='stylesheet', href='./assets/styles/style.css')
        // Font
        script(src='https://kit.fontawesome.com/52264e5a76.js' crossorigin='anonymous')
        block head
    body
        block body