extends /src/assets/nodes/templates/_basic

//- settings
block settings
    //- document setting
    -
        const settings = {
            title: 'Profile Overview',
            description: '',
            keywords: '',
            site_name: 'Resume'
        };
    //- import profile setting
    include /src/assets/nodes/includes/_profile

//- additional meta data.
block head
    //- add meta datas

//- main content
block body
    header#global-header
        .content-container
            h1
                ruby
                    | #{profile.data.name}
                    rt #{profile.data.kana}
            section
                picture
                    source(srcset = profile.photo.x2 + ' 2x')
                    img(src = profile.photo.x1 alt = '')
                .difinitions(data-justify='start')
                    dl
                        dt 住所
                        dd #{profile.data.address}
                    dl
                        dt メールアドレス
                        dd
                            a(href='mailto:' + profile.data.mail) #{profile.data.mail}
                    dl
                        dt 電話番号
                        dd
                            a(href='tel:' + profile.data.phone) #{profile.data.phone}
                    dl
                        dt 生年月日
                        dd #{profile.data.birth.toLocaleDateString('ja-JP')}
    main
        article
            .content-container
                h2 履歴書
                section
                    h3 職務経歴
                    table
                        tbody
                            for item in profile.experience
                                tr
                                    each event, date in item
                                        th #{date}
                                        td #{event}
                section
                    h3 スキルの要約
                    h4 キャリアの中で最も経験を積んだスキル
                    ul
                        each item in profile.skill.skilled
                            li #{item}
                    h4 現在習熟を目指しているスキル
                    ul
                        each item in profile.skill.advanced
                            li #{item}
                section
                    h3 得意分野
                    ul
                        each specialty in profile.specialty
                            li #{specialty}
        article
            .content-container
                h2 プロジェクト実績
                section
                    each project in profile.project
                        section
                            h3 #{project.name}
                                small #{project.period}
                            p
                                a(href = project.uri) #{project.uri}
                            ul
                                each role in project.role
                                    li #{role}
