extends /src/assets/nodes/templates/_basic

//- settings
block settings
    //- document setting
    -
        const settings = {
            title: 'Profile Overview',
            description: '',
            keywords: '',
            site_name: 'Resume'
        };
    //- import profile setting
    include /src/assets/nodes/includes/_profile

//- additional meta data.
block head
    //- add meta datas

//- main content
block body
    header#global-header
        .content-container
            h1
                ruby
                    | #{profile.data.name}
                    rt #{profile.data.kana}
            section
                picture
                    source(srcset = profile.photo.x2 + ' 2x')
                    img(src = profile.photo.x1 alt = '')
                .difinitions(data-justify='start')
                    dl
                        dt 住所
                        dd #{profile.data.address}
                    dl
                        dt メールアドレス
                        dd
                            a(href='mailto:' + profile.data.mail) #{profile.data.mail}
                    dl
                        dt 電話番号
                        dd
                            a(href='tel:' + profile.data.phone) #{profile.data.phone}
                    dl
                        dt 生年月日
                        dd #{profile.data.birth.toLocaleDateString('ja-JP')}
                    dl
                        dt 扶養の有無
                        dd #{!!profile.data.dependent ? profile.data.dependent + '人' : '無'}
                    dl
                        dt 配偶者
                        dd #{profile.data.partner ? '有' : '無'}
    main
        article
            .content-container
                h2 履歴書
                .reference(data-media='print')
                    p: a(href = profile.resume.uri) #{profile.resume.uri}
                    dl
                        dt ID
                        dd #{profile.resume.id}
                    dl
                        dt Password
                        dd #{profile.resume.password}

                section
                    h3 希望する職種・ポジション
                    p !{profile.objective}
                section
                    h3 学歴
                    .table
                        table
                            tbody
                                for item in profile.education
                                    tr
                                        each event, date in item
                                            th #{date}
                                            td #{event}
                                    
                section
                    h3 職務経歴
                    .table
                        table
                            tbody
                                for item in profile.experience
                                    tr
                                        each event, date in item
                                            th #{date}
                                            td #{event}
                section
                    h3 スキルと得意分野
                    h4 スキル一覧
                    .list(data-layout='parallel')
                        ul
                            each year, skill in profile.skill.set
                                li #{skill + ' : ' + year + '年'}
                    h4 スキルについて
                    .paragraph
                        for paragraph in profile.skill.description
                            p #{paragraph}
        article
            .content-container
                h2 プロジェクト実績
                section.projects
                    each project in profile.project
                        section.project
                            h3
                                span.project-name #{project.name}
                                    small #{project.period}
                                span.project-detail
                                    a(href = project.uri) #{project.uri}
                            .list
                                ul
                                    each role in project.role
                                        li #{role}
        article
            .content-container
                h2 お問い合わせ
                section
                    .difinitions
                        dl
                            dt メールアドレス
                            dd
                                a(href = 'mailto:' + profile.data.mail) #{profile.data.mail}
                        dl
                            dt 電話番号
                            dd
                                a(href = 'tel:' + profile.data.phone) #{profile.data.phone}
