extends /src/assets/nodes/templates/_basic

//- settings
block settings
    //- document setting
    -
        const settings = {
            title: 'Profile Overview',
            description: '',
            keywords: '',
            site_name: 'Resume'
        };
        const resumeHeader = content.resumeHeader;
        const resumeSub = content.resumeSub;
        const resume = content.resume;
        const experience = content.experience;
        const project = content.project;

        // Local date
        const local_date = function(date, option) {
            const default_option = {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            };
            const this_date = new Date(date);

            const this_option = !!option ? option : default_option;
            return new Intl.DateTimeFormat(lang, this_option).format(this_date);
        };

        const date_option = {
            detail: {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            },
            history: {
                year: 'numeric',
                month: 'long',
            }
        };

//- additional meta data.
block head
    //- add meta datas

//- main content
block body
    header#global-header
        .content-container
            h1
                ruby
                    | #{resumeHeader.name.content.label}
                    rt
                        if lang === 'ja'
                            | #{resumeHeader.name.content.pronunciation}
                        else
                            | #{resumeHeader.name.locale[lang].pronunciation}
            section
                picture
                    if resumeHeader.photo.content.x2
                        source(srcset = resumeHeader.photo.content.x2 + ' 2x')
                    img(src = resumeHeader.photo.content.x1 alt = '')
                .definitions
                    each val, key in resumeSub
                        -
                            let this_value = val.content;
                            if(key === 'birthDay') {
                                this_value = local_date(val.content, date_option.detail);
                            }
                            if(typeof val.content === 'boolean') {
                                if(lang === 'ja') {
                                    if(!!val.content) {
                                        this_value = 'あり';
                                    } else {
                                        this_value = 'なし';
                                    }
                                } else if(lang === 'en') {
                                    if(!!val.content) {
                                        this_value = 'Have';
                                    } else {
                                        this_value = 'Do not have';
                                    }
                                }
                            }
                            if(locale !== 'ja' && !!val.locale) {
                                this_value = val.locale[lang];
                            }
                        dl
                            dt #{!!locale[key] ? locale[key][lang] : key}
                            dd #{this_value}
    main
        article
            .content-container
                h2 #{lang === 'ja' ? '履歴書' : 'Resume'}
                section.reference(data-media='print')
                    h3 #{lang === 'ja' ? 'ブラウザで確認する' : 'Check with browser'}
                    p: a(href = resume.location.content.uri) #{resume.location.content.uri} 
                    dl
                        dt ID
                        dd #{resume.location.content.id}
                    dl
                        dt Password
                        dd #{resume.location.content.password}
                section
                    h3 #{lang === 'ja' ? '希望する職種・ポジション' : 'Objective'}
                    if lang === 'ja'
                        for item in resume.objective.content
                            p #{item}
                    else
                        for item in resume.objective.locale[lang]
                            p #{item}
                section
                    h3 #{lang === 'ja' ? 'スキル' : 'Skill'}
                        .list(data-layout='parallel')
                            ul
                                each val, key in resume.skill.content
                                    -
                                        const suffix = lang === 'ja' ? '年' : 'year(s)';
                                    li #{key + ' : ' + val + suffix}
                section
                    h3 #{lang === 'ja' ? '学歴' : 'Education'}
                    .table
                        table
                            tbody
                                for item, index in resume.education.content
                                    tr
                                        th #{local_date(item.period.from, date_option.history) + ' - ' + local_date(item.period.to, date_option.history)}
                                        if lang === 'ja'
                                            td #{item.event}
                                        else
                                            td #{resume.education.locale[lang][index].event}
                section
                    h3 #{lang === 'ja' ? '職務経歴' : 'Job history'}
                    .table
                        table
                            tbody
                                for item, index in resume.history.content
                                    tr
                                        th #{local_date(item.period.from, date_option.history) + ' - ' + local_date(item.period.to, date_option.history)}
                                        if lang === 'ja'
                                            td #{item.event}
                                        else
                                            td #{resume.history.locale[lang][index].event}
        article
            .content-container
                h2 #{lang === 'ja' ? 'プロジェクト実績' : 'Project achievements'}
                section.overview
                    h3 #{lang === 'ja' ? '概要' : 'Overview'}
                    - const projectOverview = lang === 'ja' ? experience.overview.content : experience.overview.locale[lang];
                    for item in projectOverview
                        p #{item}
                section.roles
                    h3 #{lang === 'ja' ? 'プロジェクトでの役割' : 'Roles in projects'}
                    - const projectRoles = lang === 'ja' ? experience.roles.content : experience.roles.locale[lang];
                    .item(data-layout='parallel')
                        ul
                            for role in projectRoles
                                li #{role}
                section.projects
                    for item in project
                        each val, key in item
                            section.project
                                h3
                                    span.project-name #{key}
                                    small #{local_date(val.content.period.to, date_option.history)}
                                    span.project-detail
                                        a(href = val.content.uri) #{val.content.uri}
                                p(style='text-align: center')
                                    if lang === 'ja'
                                        | #{val.content.description}
                                    else
                                        | #{val.locale[lang].description}
                                h4 #{lang === 'ja' ? '使用言語' : 'Languages'}
                                .list(data-layout='parallel')
                                    ul
                                        for used in val.content.lang
                                            li #{used}
                                h4 #{lang === 'ja' ? '成果物' : 'Delivarables'}
                                .list
                                    ul
                                        -
                                            let delivarable = val.content.delivarable;
                                            if(lang !== 'ja') delivarable = val.locale[lang].delivarable;
                                        for deliv in delivarable
                                            li #{deliv}
